:root{
  --font-family: 'Open Sans', sans-serif;
  --black: #000;
  --light-ble: #B4D0E7;
  --blue: #0060FF;
  --bordeaux: #61102F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: var(--font-family);
}

h1{
    font-size: 5rem;
    padding-top: 100px;
    padding-bottom: 50px;
}

h2{
  font-size: 3rem;
  margin-top: 150px;
  margin-bottom: 50px;
}

h4{
  font-size: 1.3rem;
  margin-top: 30px;
}


.link{
  text-decoration: none;
  background-color: var(--blue);
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.large-section{
  margin: 0 auto;
  width: 70vw;
  min-width: 1200px;
  /* height: 700px;  */
}

.small-section{
  margin: 0 auto;
  width: 60vw;
  min-width: 1000px;
}


/* FOOTER */
.footer-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.left-footer,
.right-footer{
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .9rem;
}

.left-footer img{
  width: 25%;
}

/* /FOOTER */

/* MAIN */

.jumbotron{
  background-color: var(--light-ble);
  
}

/* /MAIN */
.jumbo-text{
  width: 30%;
  display: flex;
}

.jumbo-text p{
  margin-top: 50px;
}

.jumbo-img{
  position: relative;
  width: 70%;
}

.jumbo-img img{
  position: absolute;
  top: 50px;
}

.jumbo-content{
  display: flex;
}

.jumbo-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-arrow-down{
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 50px;
}
.business{
  display: flex;
  justify-content: space-between;
}

.plan-card-vertical{
  width: 300px;
  border: 1px solid #D0D0D3;
  margin-top: 50px;
}

.plan-card-horizontal{
  border: 1px solid #D0D0D3;
  margin-top: 50px;
}



.user-number{
  border: 1px solid #D0D0D3;
  padding: 10px 20px;
  text-align: center;
}

.service{
  /* mettere padding */
  border-bottom: 1px solid #D0D0D3 ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 30px;

}

.cash{
  margin-top: 20px;
}

.month{
  color: #707070;
  margin-top: 10px;
}


.prova,p{
  margin-bottom: 30px;
}

.service ul ,
.bottom-plan-card ul{
  list-style: none;
}

.service ul li ,
.bottom-plan-card ul li{
  margin-top: 30px;
  margin-bottom: 50px;
}

.bottom-plan-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 30px;

}

.bottom-plan-card span{
  margin-top: 50px;
}
.fa-check{
  color: var(--blue);
  font-size: 1.2rem;
}

.main-card-horizontal{
  display: flex;
}

.service-horizontal{
  width: 70%;
}

.contatta{
  width: 30%;
}

.service-horizontal h4{
  margin-top: 40px;
}

.horizontal-span{
  margin-top: 30px;
}

.horizontal-p{ 
  margin: 30px 0;
  
}


.contatta a{
  margin-top: 40px;
  margin-left: 50px;
}